{{!-- TODO: merge this and the edit / new form --}}
<div>

  <h1>
    {{model.title}}
  </h1>

  <p>
    {{model.description}}
  </p>

  <div class="flex">
    {{#each model.images as |image|}}
      <img
        src="{{image.src}}"
        class="w-30"
      />
    {{/each}}
  </div>

  <div>
    <button>
      Add to Schedule
    </button>
    <button {{action "destroyService"}}>
      Delete Service
    </button>
  </div>

  {{#each model.occurrences as |occurrence|}}
    <div>
      Signup! {{moment-calendar occurrence.starts}}
    </div>
  {{/each}}

</div>

