<div>

  <ServiceForm @model={{model}}/>

  <div class="flex">
    {{#each model.images as |image|}}
      <img
        src="{{image.src}}"
        class="w-30"
      />
    {{/each}}
  </div>

  <div>
    <button>
      Add to Schedule
    </button>
    <button {{action "save"}}>
      Save
    </button>
    <button {{action "destroyService"}}>
      Delete
    </button>
  </div>

  {{#each model.occurrences as |occurrence|}}
    <div>
      Signup! {{moment-calendar occurrence.starts}}
    </div>
  {{/each}}

  <PowerCalendar as |calendar|>
    <calendar.Days/>
  </PowerCalendar>

</div>

