<div class="flex">

	<div class="w-40">

		<h1>
			{{t "services_type"}}	
		</h1>

		<ul>
			{{#each model as |service|}}
				<LinkTo @route="services.service" @model={{service.id}}>
					<li>
						{{service.title}} | {{service.duration}}
					</li>
				</LinkTo>
			{{/each}}
		</ul>

	</div>

	<div class="w-60">
		{{outlet}}
	</div>

</div>
